body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f3e5f5, #e1bee7, #ce93d8);


  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  /* background-color: #fff; */
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.container:hover {
  box-shadow: 0 0 20px rgba(155, 39, 206, 0.9); /* Ungu lembut */
  transition: box-shadow 0.3s ease;
}


h2 {
  text-align: center;
  color: #9b26ce;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: #a92bcc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #7b1fa2;
}

.error {
  color: red;
  font-size: 0.85em;
}

#message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

#message.success {
  color: green;
}

#message.fail {
  color: red;
}
